body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px
}
footer{
    text-align: center;
    color: rgb(0, 0, 0);
}
.container {
    text-align: center;
    display: flex;
    gap: 20px; /* espaço entre as divs */
  }
  
  /* Opcional: ajustar a largura das divs para caberem lado a lado */
  .classe1, .classe2 {
    flex: 1; /* ocupa espaço igual */
    /* ou defina uma largura fixa, tipo width: 48%; */
  }
.Hino{
    text-align: center;
}
.Camisa{
    text-align: center;
}
