header{
    font-size: 175px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

body{
    background-image: url(Time.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

img{
    border: 3px transparent;
    border-radius: 5%;
}

nav{
    font-size: 40px;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.25);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Escudo, .Torcida{
    flex: 1px;
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Hino, .Camisa {
    flex: 1px;
}

a{
    color: red;
}

footer{
    text-align: end;
    text-align: right;
}

