header{
    font-size: 150px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

body{
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;;
    color: white;
}

text{
    border: 5px solix white;
 }

 nav{
    font-size: 40px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.FotoDoTime, .Torcida{
    flex: 1px;
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Hino, .Camisa {
    flex: 1px;
}

 a{
    color: red;
 }

 img{
    border: 5px solid white;
 }

 footer{
    text-align: end;
    text-align: right;
}